<h2 id="edit-book-page-title" class="page-header">Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields.ejs') %> 
    <div class="form-row form-row-end btn-row">
        <a id="edit-book-page-cancel-button" class="btn btn-danger" href="/books">Cancel</a>
        <button id="edit-book-page-update-button" class="btn btn-primary" type="submit">Update</button>
    </div>
</form>