<h2 id="add-book-page-title" class="page-header">Create New Book</h2>
<form action="/books" method="POST">
    <%- include('_form_fields.ejs') %> 
    <div class="form-row form-row-end btn-row">
        <a id="add-book-page-cancel-button" class="btn btn-danger" href="/books">Cancel</a>
        <button id="add-book-page-create-button" class="btn btn-primary" type="submit">Create</button>
    </div>
</form>