<header>
    <nav class="header-nav">
        <a id="header-logo" class="header-title" href="/">My Gradaran</a>
        <ul>
            <li><a id="header-authors" href="/authors">Authors</a></li>
            <li><a id="header-add-author" href="/authors/new">Add Author</a></li>
            <li><a id="header-books" href="/books">All Books</a></li>
            <li><a id="header-add-book" href="/books/new">Add Book</a></li>
        </ul>
    </nav>
</header>